body{
    scroll-behavior: smooth;
}
html {
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (min-width: 320px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1700px;
  }
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
body {
  background-color: white;
  font-family: "Mukta", sans-serif;
}
