@media screen and (min-width: 320px) {
  .about-us {
    min-height: 858px;
    background: linear-gradient(114.38deg, rgba(0, 0, 0, 0) 14.37%, rgba(0, 0, 0, 0.2) 78.2%), #e8e7e7;
    padding: 47px 0 29px 0;
  }

  .about-us__title {
    position: relative;
    font-weight: 500;
    font-size: 64px;
    color: #b93309;
    text-align: center;
    margin-bottom: 110px;
  }
  .about-us__title::after {
    content: "";
    background-image: url(../src/img/svg/awards/line.png);
    width: 2px;
    height: 186px;
    position: absolute;
    top: -3%;
    right: 10%;
  }
  .about-us__description {
    position: relative;
    width: 100%;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    text-align: justify;
    background-color: white;
    color: #6c6c6c;
    margin-bottom: 106px;
  }
  .about-us__description::after {
    content: "";
    background-image: url(../src/img/svg/awards/line.png);
    width: 2px;
    height: 104px;
    position: absolute;
    top: 100%;
    right: 10%;
  }
  .about-us__span {
    font-weight: 800;
    font-size: 13px;
    line-height: 20px;
    text-align: justify;
    color: #6c6c6c;
  }
  .about-us__wrapper {
    position: relative;
  }
  .about-us__promo {
    max-width: 80%;
    padding: 17px 0 17px 20px;
  }
}
@media screen and (min-width: 768px) {
  .about-us {
    min-height: 1080px;
    background: linear-gradient(114.38deg, rgba(0, 0, 0, 0) 14.37%, rgba(0, 0, 0, 0.2) 78.2%), #e8e7e7;
    padding: 67px 0;
  }

  .about-us__title {
    font-weight: 500;
    font-size: 64px;
    color: #b93309;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .about-us__title::after {
    content: "";
    width: 0;
  }

  .about-us__description {
    width: 100%;
    font-weight: 500;
    font-size: 30px;
    line-height: 50px;
    text-align: justify;
    background-color: white;
    color: #6c6c6c;
    margin-bottom: 106px;
  }
  .about-us__description::after {
    content: "";
    width: 0;
  }
  .about-us__span {
    font-weight: 800;
    font-size: 30px;
    line-height: 50px;
    text-align: justify;
    color: #6c6c6c;
  }
  .about-us__promo {
    max-width: 90%;
    padding: 20px 0 20px 40px;
  }
}
@media screen and (min-width: 1280px) {
  .about-us {
    position: relative;
    min-height: 1080px;
    background: linear-gradient(114.38deg, rgba(0, 0, 0, 0) 14.37%, rgba(0, 0, 0, 0.2) 78.2%), #e8e7e7;
    padding: 47px 0;
  }

  .about-us__title {
    position: relative;
    font-weight: 500;
    font-size: 64px;
    color: #b93309;
    position: absolute;
    top: 106px;
    left: 182px;
    z-index: 3;
    text-align: start;
  }
  .about-us__title::after {
    content: "";
    background-image: url(../src/img/bg/about-us/red-line.png);
    width: 2px;
    height: 551px;
    position: absolute;
    top: -249%;
    right: -62%;
    transform: rotate(90deg);
  }
  .about-us__description {
    width: 54%;
    font-weight: 500;
    font-size: 30px;
    line-height: 50px;
    text-align: justify;
    background-color: white;
    color: #6c6c6c;
    padding: 30px 0 25px 30px;
    position: absolute;
    left: 47.5%;
    top: 0px;
    z-index: 1;
    margin: 0;
  }
  .about-us__span {
    font-weight: 800;
    font-size: 30px;
    line-height: 50px;
    text-align: justify;
    color: #6c6c6c;
  }
  .about-us__wrapper {
    position: relative;
  }
  .about-us__img {
    position: relative;
    top: 313px;
    right: 127px;
  }
  .about-us__promo {
    max-width: 90%;
  }
}
